/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
#jumbo {
	background-image: image-url('church-sky.jpg');
	width:100%;
	height:100vh; // height: calc(100vh - 70px);
	background-size: cover;
}

#catchphrase {
	h1 {
		color:white;
		text-transform:uppercase;
		font-size: 60px;
    font-weight: bold;
	}
	p {
		color:white;
		font-size:20px;
		margin-bottom:30px;
	}
}
