<%= render 'shared/navbartranparent' %>
<section id="asso-intro">
	<div class="flex-container fullscreen">
		<div class="flex-item text-center">
			<%= link_to 'Inscription', new_asso_registration_path, class: 'btn-medium'  %> 
			<%= link_to 'Connexion', new_asso_session_path, class: 'btn-medium'%> 
		</div>
	</div>
</section>

