<%= render 'shared/navbartranparent' %>
<section id="jumbo">
	<div class="flex-container fullscreen">
		<div id="catchphrase" class="flex-item text-center">
			<h1>Participez à la conservation <br> de votre Patrimoine</h1>
			<p>Trouvez une mission proche de chez vous ou partout en France.</p>
			<%= link_to 'Voir toutes les missions', missions_path, class: 'btn-medium' %>
		</div>
	</div>
</section>
