<%= render 'shared/navbartranparent' %>
<section id="jumbo">
	<div class="flex-container fullscreen">
		<div id="catchphrase" class="flex-item text-center">
			<h1>Participez à la conservation <br> de votre Patrimoine</h1>
			<p>Trouvez une mission proche de chez vous ou partout en France.</p>
			<%= link_to 'Voir toutes les missions', missions_path, class: 'btn-medium' %>
		</div>
	</div>
</section>

<section id="news">
	<div class="news-title text-center">
		<h2>Monuments en cours de restauration</h2>
		<p>Découvrez notre selection des plus beaux chantiers.</p>
	</div>
	<div class="container text-center">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="card flex-container" id="church-snow">
					<div class="card-content flex-item">
						<h3>Palmyre</h3>
						<p>Lorem ipsum dolor sit amet</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="card flex-container" id="buldo">
					<div class="card-content flex-item">
						<h3>Buldo</h3>
						<p>Lorem ipsum dolor sit amet</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4">
				<div class="card flex-container" id="berlin">
					<div class="card-content flex-item">
						<h3>Berlin</h3>
						<p>Lorem ipsum dolor sit amet</p>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
</section>
