/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

 // Global
a:hover, a:focus {
  color: white;
  text-decoration: none;
}
//body { -webkit-font-smoothing: antialiased;}

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

// Flexbox
.flex-container {
	display: flex;
	justify-content:center;
	align-items:center;
}

.flex-item {
	flex:0 1 auto;
}

// Design
.fullscreen {
	width:100%;
	height:100vh;
}


